# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# npm cache directory
.npm

# ignoring package-lock.json to focus on the relevant files
package-lock.json

# don't forget to ignore your compiled app directory
# lib
# dist
